@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


#bold-italic {
   font-weight: 700;
   text-transform: uppercase;
   font-style: italic;
}
